body {
    background-color: #e4e6eb;
    font-family: 'Overpass', sans-serif;
    color: black;
}
  
.navbar-brand img {
    max-height: 150px;
}
  
.navbar-light .navbar-nav .nav-link {
    color: black;
}
  
.navbar-light .navbar-nav .nav-link.active {
    font-weight: bold;
    color: black !important;
}

form {
    padding: 25px;
}
  
.card {
    margin-top: 0px;
    border-radius: 2%;
}
  
  
.section-index {
    min-height: 700px;
    background-color:#008e97;
}
  
.section-index-title {
    margin-top: 100px;
    margin-bottom: 15px;
    color: #e4e6eb;
}

.section-add-menu {
    margin-top: 75px;
    margin-bottom: 15px;
    color: #e4e6eb;
}

h2 {
    color: #ffffff;
    font-family: 'Overpass', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.leftcolumn {
    width: 100%;
    padding-left: 0px;
    margin-left: -20px;
  }

.index-list thead {
    color: black;
    font-family: 'Overpass', sans-serif;
    font-weight: bolder;
}

.index-list tbody {
    color: black;
    font-family: 'Overpass', sans-serif;
    font-weight: lighter;
    text-align: left;
}

.btn-add-new-menu-item {
    background-color:#f58220;
    color: #ffffff;
    margin-top: 20px;
}

.btn-add-new-menu-item:hover {
    background-color: #F8CB73;
    color: #ffffff;
}

.section-menu-form {
    min-height: 550px;
    background-color: #142936;
  }
  
  .heading-new-menu {
    color: #142936;
    margin: 20px;
    text-align: center;
  }
  
  .btn-save-menu {
    background-color: #FEC148;
    color: #ffffff;
    margin-left: 20px;
    margin-bottom: 100px;
  }
  
  .btn-save-menu:hover {
    background-color: #F8CB73;
    color: #ffffff;
  }
  